player-connection-mode=Listen
player-connection-guid=3469546266
player-connection-debug=0
player-connection-ip=192.168.0.194
player-connection-ip=192.168.207.1
player-connection-ip=192.168.145.1
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
